<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="prdinventory">
    <resultMap id="prdinventoryMap" type="prdinventory">
        <id column="prd_iv_id" property="prdIvId" />
        <result column="prd_iv_quantity" property="prdIvQuantity" />
        <result property="prdId" column="PRD_ID"/>
        <result property="ivId" column="IV_ID"/>
    </resultMap>

   
</mapper>