<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stock">
    <resultMap id="stockMap" type="stock">
        <id column="stk_id" property="stkId" />
        <result column="stk_Stock" property="stkStock" />
        <result property="branchId" column="BRANCH_ID"/>
        <result property="prdId" column="PRD_ID"/>
    </resultMap>

   

</mapper>
