<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fboard">
	<resultMap type="fboard" id="fboardMap">
		<id column="FBOARD_NO" property="fboardNo"/>
		<result column="FBOARD_TITLE" property="fboardTitle"/>
		<result column="FBOARD_CONTENT" property="fobardContent"/>
		<result column="FBOARD_VIEWS" property="fboardViews"/>
		<result column="FBOARD_DATE" property="fboardDate"/>
		<result column="EMP_NO" property="empNo"/>
	</resultMap>
		
		<select id="selectFboardMainPage" resultType="hashMap">
			SELECT F.*,ROWNUM FROM(
				SELECT * FROM FBOARD ORDER BY FBOARD_DATE DESC) F WHERE ROWNUM &lt;= 10
		</select>
	
</mapper>
