<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatroom">
	<resultMap type="chatroom" id="chatroomMap">
		<id column="CHATROOM_ID" property="chatRoomId"/>
		<result column="CHATROOM_NAME" property="chatRoomName"/>
		<result column="EMP_COUNT" property="empCount"/>
		<result column="CREATED_AT" property="createdAt"/>
		<result column="STATUS" property="status"/>
	</resultMap>
</mapper>
